<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sendfish</title>
    <link rel="stylesheet" href="/css/load.css">
</head>

<body>
    <div class="loader">
        <div class="circle"></div>
        <img src="/img/Kikuri_load.png" alt="Kikuri load" class="load-img">
    </div>

    <script src="https://cdn.socket.io/4.8.1/socket.io.min.js"></script>
    <script type="module" src="/js/main.js"></script>

</body>

</html>