#loader {
    height: 100vh;
    width: auto;
    display: flex;
    position: relative;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.load-img {
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    object-fit: contain;
}

.circle {
    height: 82%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: rgb(162 73 101);
    position: absolute;

    transform-origin: center;
    transition: transform 0.5s cubic-bezier(.76, .1, .69, .62);

}

.custom-scrollbar {
    overflow-y: auto;
    scrollbar-gutter: stable;
}

/* Thin scrollbar */
.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
}

/* body scrollbar */
.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #434b57;
    border-radius: 9999px;
    border: 2px solid #434b57;
}

/* background scrollbar */
.custom-scrollbar::-webkit-scrollbar-track {
    border-radius: 9999px;
}

/* scrollbar hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #2d3541;
    cursor: default;
}